@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel
<!-- for loop that displays the info for each card -->
@foreach (Project p in Model.Projects)
{
    <partial name="BookSummary" model="p"/>
}

<div page-model="@Model.PaginationInfo"
     page-action="Index"
     page-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"></div>